<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/client.js'></script>
  </head>
  <body ng-app='icaApp'>
    <md-toolbar>
      <h2 class="md-toolbar-tools">
        <span><%= title %></span>
      </h2>
    </md-toolbar>

    <md-content>
      <md-button>test</md-button>
    </md-content>
  </body>
</html>
